/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
C:\xampp\htdocs\point-of-sale-system\package-lock.json
C:\xampp\htdocs\point-of-sale-system\.env
/.env.example
/.gitignore
/package-lock.json
